<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <title> Welcome to world of GoT!</title>
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in names to find what happend to world of GoT!</h1>
    <form action="/story" method="post">
      <label for="nameone">Name one</label>
      <input id="nameone" name="nameone" type="text">
      <label for="nametwo">Name Two</Label>
      <input id="nametwo" name="nametwo" type="text">
      <label for="namethree">Name Three</Label>
      <input id="namethree" name="namethree" type="text">
      <button type="submit">Go!</button>
      </form>
  </body>
</html>
